.zoom-img {
  cursor: move;
  max-width: 600px;
  max-height: 800px;
}

.image-zoom-div {
  position: relative;
  overflow: hidden;
  border: black 1px solid;
}

.btn-div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgb(190, 190, 190);
}

.zoom-btn {
  cursor: pointer;
  font-size: x-large;
  padding: 0.5rem;
}
