.map-div {
  height: 60%;
  width: 30%;
  margin: 2rem;
}

.leaflet-container {
  height: 400px;
}

@media screen and (max-width: 1180px) {
  .map-div {
    width: 90%;
    margin-left: 4rem;
  }
}

@media screen and (max-width: 750px) {
  .map-div {
    margin-left: 1.5rem;
  }
}
