.nav-div {
  background-color: rgb(238, 180, 73);
  color: rgb(58, 58, 58);
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  letter-spacing: 0.2rem;
  box-shadow: 1px 1px 1px rgb(87, 87, 87);
}

.nav-logo-div {
  margin-left: 5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-logo-div:hover {
  color: rgb(238, 238, 238);
}

.logo-text-div {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
}
.nav-logo {
  height: 4rem;
  width: 4rem;
  margin-right: 10px;
  transition: all 0.5s ease;
}

.nav-icon:hover {
  color: rgb(238, 238, 238);
}

.logo-text {
  cursor: pointer;
  transition: all 0.5s ease;
}

.navbar-items-div {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1420px) {
  .logo-text {
    font-size: medium;
  }
  .nav-logo {
    height: 3rem;
    width: 3rem;
  }
  .nav-div {
    height: 3rem;
  }
}

@media screen and (max-width: 700px) {
  .nav-div {
    flex-direction: column;
    height: 7rem;
  }
  .nav-logo-div {
    margin: 0;
  }
  .logo-text-div {
    width: 90%;
    justify-content: space-between;
  }
}
