.nav-div {
  background-color: rgb(238, 180, 73);
  color: rgb(58, 58, 58);
  font-size: x-large;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  letter-spacing: 0.2rem;
  box-shadow: 1px 1px 1px rgb(87, 87, 87);
}

.nav-logo-div {
  margin-left: 5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-logo-div:hover {
  color: rgb(238, 238, 238);
}

.nav-text {
  cursor: pointer;
  margin-right: 2rem;
  transition: all 0.5s ease;
}

.nav-text:hover {
  color: rgb(238, 238, 238);
}

.nav-section-div {
  display: flex;
  width: 60%;
  justify-content: end;
  align-items: center;
}

.nav-icons {
  display: flex;
  margin-left: 3rem;
}

.nav-icon {
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1.5rem;
  transition: all 0.5s ease;
}

.nav-logo {
  height: 4rem;
  width: 4rem;
  margin-right: 10px;
  transition: all 0.5s ease;
}

.nav-icon:hover {
  color: rgb(238, 238, 238);
}

.vertical-line {
  border-left: 1px solid rgb(61, 61, 61);
  height: 5svh;
  margin-right: 2rem;
}

@media screen and (max-width: 1550px) {
  .nav-text {
    font-size: large;
  }
}

@media screen and (max-width: 1420px) {
  .nav-text {
    font-size: medium;
  }

  .nav-logo {
    height: 3rem;
    width: 3rem;
  }

  .nav-icon {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
  }
  .nav-div {
    height: 3rem;
  }
}
