.filter-div {
  width: 400px;
  height: 1100px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-right: 2px solid rgb(88, 88, 88);
  overflow: auto;
}

.show-results-btn {
  all: unset;
  background: rgb(61, 61, 61, 0.2);
  text-align: center;
  margin-top: 1rem;
  font-size: large;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid black;
  padding: 0.2rem;
}

.show-results-btn:hover {
  background: rgb(61, 61, 61, 0.1);
}

@media screen and (max-width: 1000px) {
  .filter-div {
    width: 300px;
  }
}
@media screen and (max-width: 600px) {
  .filter-div {
    width: 200px;
  }
}

@media screen and (max-width: 530px) {
  .filter-div {
    height: 100%;
    width: 100svw;
    border: none;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
  }
}
