.footer-div {
  background-color: rgb(43, 43, 43);
  color: rgb(221, 221, 221);
}

.footer-data-map-div {
  display: flex;
  justify-content: space-evenly;
}

.footer-info-div {
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}
