.product-image-div {
  width: 14rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.product-image-div:hover {
  background-color: rgb(68, 67, 67, 0.1);
}

.product-image {
  width: 150px;
  height: 60%;
  margin: 3px;
  display: block;
}

.product-info-div {
  display: flex;
  width: 14rem;
  flex-direction: column;
  overflow: hidden;
}

.product-text {
  margin: 0;
  margin-top: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.moving-text > p:hover {
  text-overflow: unset;
  overflow: unset;
  animation: moving 5s linear 0s infinite forwards;
}

@keyframes moving {
  1% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.author-text {
  margin: 0;
  font-size: small;
  color: rgb(61, 61, 61, 0.8);
}

.product-price {
  margin: 0;
  background-color: rgb(61, 61, 61, 0.2);
  color: rgb(160, 136, 31);
  padding: 0.2rem;
}

.horizontal-line {
  all: unset;
  border-top: 0.5px solid rgb(61, 61, 61, 0.2);
  width: 100%;
  margin: 0;
  margin-top: 0.25rem;
}
