.product-page-info-div {
  display: flex;
  width: 60%;
  align-items: start;
  margin: 2rem;
  flex-direction: column;
  overflow: scroll;
}

.add-to-cart-btn {
  all: unset;
  background-color: rgb(247, 197, 105);
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  font-size: x-large;
  margin: 0;
  cursor: pointer;
  border: 1px solid black;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  letter-spacing: 2px;
  margin-top: 2rem;
}

.cart-logo {
  font-size: xx-large;
  margin-right: 0.4rem;
}

.add-to-cart-btn:hover {
  background-color: rgb(240, 176, 58);
}

.horizontal-line-info {
  all: unset;
  border-top: 0.5px solid rgb(61, 61, 61, 0.2);
  width: 100%;
}

.product-basic-info-div {
  margin-bottom: 2rem;
}

.basic-info-text {
  margin: 0;
  color: rgba(48, 47, 47, 0.6);
}

.title-text {
  margin: 0;
}

.info-box {
  width: 100%;
  border-top: solid 1px rgb(73, 73, 73, 0.5);
  border-bottom: solid 1px rgb(73, 73, 73, 0.5);
}

.counter-text {
  margin: 0;
  font-weight: 600;
  font-size: large;
  margin-left: 2rem;
  margin-right: 0.5rem;
}

.price-amount-div {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.price-text {
  font-size: x-large;
  font-weight: 500;
  text-decoration: line-through;
}

.price-reduced-text {
  font-size: x-large;
  font-weight: 500;
  color: rgb(221, 61, 61);
}

.desc-text {
  width: 80%;
}

@media screen and (max-width: 1100px) {
  .product-page-info-div {
    width: 100%;
    align-items: center;
  }
}

@media screen and (max-width: 400px) {
  .price-amount-div {
    flex-direction: column;
  }
}
