.product-page-div {
  display: flex;
  justify-content: space-between;
  margin: 2rem 12rem 0 12rem;
  background-color: rgb(221, 221, 221, 0.5);
  box-shadow: 5px 5px 5px rgb(87, 87, 87);
  height: 850px;
}

.product-page-image-star-div {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.product-page-star-div {
  font-size: x-large;
  display: flex;
  color: rgb(160, 136, 31);
}

@media screen and (max-width: 1400px) {
  .product-page-div {
    margin: 2rem;
  }
}

@media screen and (max-width: 1100px) {
  .product-page-div {
    flex-direction: column;
    height: 100%;
    align-items: center;
  }
  .product-page-image-star-div {
    width: 100%;
  }
}
