@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html,
body {
  margin: 0px;
  font-family: "Inter", sans-serif;
  background-image: linear-gradient(
    to bottom right,
    rgb(228, 221, 196),
    rgba(255, 245, 189)
  );
}

body {
  --sb-track-color: #1d1d1d;
  --sb-thumb-color: #565656;
  --sb-size: 12px;
}

::-webkit-scrollbar {
  --sb-track-color: #1d1d1d;
  --sb-thumb-color: #565656;
  --sb-size: 12px;
  width: var(--sb-size);
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 2px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
